body{
    margin: 0;
    padding: 0;
    background-image: url('./signup.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.container{
    background-size: cover;
}
nav{
    display: flex;
    background-color: burlywood;
    font-size: 28px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
nav li{
    display: inline-block;
    margin: 0 10px;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color: azure;
}
#logo{
    font-size: 36px;
    font-weight: bolder;
}
.menu-line{
    height: 3px;
    width: 20px;
    background-color: blue;
    margin-bottom: 3px;
}
.menu{
    display: none;
    cursor: pointer;
}
@media all and (max-width:640px) {
    nav{
        flex-direction: column;
    }
    nav li{
        display: block;
        padding: 10px 0;
    }
    ul{
        text-align: center;
        padding: 0;
        display:none;
    }
    #logo{
        align-self: flex-start;
        margin: 10px 10px;
    }
    .menu{
        display: block;
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .showmenu{
    display: block;
}
}
