body{
    background : url('./signup.png');
    background-size: cover;
    font-family: cursive;
}

.form{
    width: 450px;   
    background-color: rgba(0, 0, 0, .5);
    padding: 20px 50px 20px;
    margin: 80px auto;
    color: rgb(205, 81, 176);
    border-radius: 8px;
}

.form h3{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline whitesmoke;
}

.form .textlabel{
    display: block;
    font-size: 25px;
    font-style: italic;
    text-transform: capitalize;
}

.input input{
    width: 100%;
    font-size: 1.3em;
    box-shadow: 1px darkorchid;
    border-radius: 5px;
    padding: 8px 10px;
    box-sizing: border-box;
    margin: 10px 0px 25px;
}

input:focus{
    background-color: darkgray;
}

.radio{
    font-size: 20px;
}

.radio .textlabel{
    margin-bottom: 10px;
}

.btn{
    text-align: center;
}
button{
    margin: 20px 0px 10px;
    background-color: bisque;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    border-radius: 8px;
    padding: 5px 10px;
}

.radio input{
    accent-color: rgb(255, 0, 157);
    transform: scale(1.5);
}